$primary-color: #e65f21;
$secondary-color: #EFC88B;
$tertiary-color: #7c7c7c;
$background-color: #353132;
$background-color2: #3C3C3C;
$card-border1: #FF4E00;
$card-border2: #BF3100;

.Footer {
    width: 100vw;
    min-height: 250px;
    max-height: fit-content;

    &__container {
        margin: 0 auto;
        max-width: 1000px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: space-between;
        flex-direction: column;
        padding: 3rem 0;
        
        &__icon {
            width: 100%;
            display: flex;
            justify-content: center;
            svg {
                margin: 0 auto;
                font-size: 2.5rem;
                cursor: pointer;
            }
        }
    }

    &__footerList {
        list-style: none;
        padding: 3rem 0 1rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    p {
        margin: 2rem 0 1rem 0;
        text-align: center;
    }

    &__footerLink {
        height: auto;
        width: auto;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        margin-right: 4rem;

        svg {
            height: auto;
            transition: all 0.2s ease;
        }

        &:last-child {
            margin-right: 0;
        }

        &__twitter {
            &:hover {
                color: #1DA1F2
            }
        }

        &__upwork {
            &:hover {
                color: #6fda44;
            }
        }

        &__github {
            &:hover {
                stroke: #171515
            }
        }

        &__linkedin {
            &:hover {
                color: #0072b1
            }
        }

        svg {
            font-size: 2.5rem;
            margin-bottom: 1rem;
            cursor: pointer;
        }
    }

    &__footerText {
        width: 100%;
        margin-top: 3rem;
        display: flex;
        justify-content: center;
        p {
            font-size: 1rem;
            font-style: italic;
        }
    }
}