.NavLink {
  position: relative;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bolder;
  margin-right: 4rem;
  height: auto;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;

  &:hover {
    color: rgba(255, 255, 255, 0.9);
  }

  &:last-child {
    margin-right: 0;
  }
}

.NavLink__hoverContainer {
  position: absolute;
  left: 0;
  bottom: -10px;
  display: flex;
  height: auto;
  width: 100%;
  height: 5px;
  overflow: hidden;
}

.NavLink__hoverLine1 {
  top: 0;
  left: 0;
  width: 0;
  height: auto;
  z-index: 10;
}