.ProjectIntroduction {
    position: relative;
    width: 100vw;
    height: 45vh;
    background-color: #d87D4A;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    &__textContainer {
        height: auto;
        width: 35%;
        overflow: hidden;
        h3 {
            font-size: 4.5rem;
            font-weight: 800;
            text-align: center;
            margin-bottom: 1rem;
        }
        p {
            font-family: 'Roboto Slab', "serif";
            font-size: 1.4rem;
            line-height: 1.7;
        }
        img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
        }
    }

    &__buttonContainer {
        margin-top: 2rem;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        button {
            margin: 0 auto;
            padding: 0.8rem 2.3rem;
            font-size: 1rem;
            letter-spacing: 1px;
            background-color: transparent;
            border: 2px solid white;
            transition: all 0.3s ease;
            cursor: pointer;

            &:hover {
                background-color: white;
                color: black;
            }
        }
    }
}